@use "@angular/material" as mat;
@use "./m3-theme.scss";

:root {
  @include mat.all-component-themes(m3-theme.$light-theme);
}

html,
body {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fdf7ff;
}

